.container-pf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 500px;
  max-width: 90%;
  height: auto;
  min-height: 300px;
  margin: 40px auto;
  padding: 20px;
  background-color: #54364e;
  color: #d2cece;
  font-size: 20px;
  border-radius: 8px;
  position: relative; 
  top: -20px;
}