.app-toolbar {
  background-color: #54364e;
  color: white;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.app-toolbar mat-icon {
  color: white;
}

.header-login {
  background-color: #54364e;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 55px;
}

.header-login h1 {
   color: #d2cece;
   font-size: 20px;
   font-weight: bold;
   margin: 0;
   margin-left: 15px;
}

.main-content {
  height: 100%;
  width: 100%;
}