.listagem-container {
  padding: 20px;
  max-width: 1450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.listagem-container > a {
  align-self: flex-start;
  margin-bottom: 20px;
}

table {
  width: 100%;
}

.mat-elevation-z8 {
  border-radius: 4px;
  overflow: hidden;
  background-color: white;
}

@media (max-width: 600px) {
  .listagem-container {
    padding: 10px;
  }
}