:host {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  min-height: 100vh;       
  width: 100%;
}

.fundo-externo {
  background-color: #54364e;
  padding: 40px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 750px;
}

form {
  width: 100%;
  color: white; 
}

.login-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  max-width: 650px;
  width: 100%;
  margin: 0;
  padding: 20px;
  background-color: #5c595c;
  border: 1px solid transparent; 
  border-radius: 10px;
}

.full-width {
  width: 100%;
}

.senha-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.senha-container mat-form-field {
  flex: 1;
  width: 100%;
}

.help-icon {
  color: #292828;
  cursor: help;
  margin-bottom: 20px;
  margin-left: 10px;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

::ng-deep input:-webkit-autofill,
::ng-deep input:-webkit-autofill:hover, 
::ng-deep input:-webkit-autofill:focus, 
::ng-deep input:-webkit-autofill:active {
    transition: background-color 50000s ease-in-out 0s;
    -webkit-text-fill-color: black !important;
}