.login-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  max-width: 650px;
  margin: 1rem auto;
  padding: 10px;
  background-color: #5c595c;
  border: 1px;
  border-radius: 10px;
}

.full-width {
  width: 100%;
}

.header-container{
  background-color: #54364e;
  width: 100%;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 65px;
}

.header-container
.title{
   color: #d2cece;
   font-size: 30px;
   font-weight: bold;
   
}

.senha-container {
  display: flex;
  align-items: center; 
  margin-left: 15px;

}

.help-icon {
  color: #292828;
  cursor: help;
  margin-bottom: 20px; 
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

::ng-deep input:-webkit-autofill,
::ng-deep input:-webkit-autofill:hover, 
::ng-deep input:-webkit-autofill:focus, 
::ng-deep input:-webkit-autofill:active {
    transition: background-color 50000s ease-in-out 0s;
    -webkit-text-fill-color: black !important;
}

