.container-lancamento {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

mat-list {
  width: 100%;
  max-width: 600px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px;
  background-color: #504c4c;
}

.label {
  font-weight: bold;
  margin-right: 8px;
  color: #ece0e0;
}

.geo-text {
  font-size: 0.9rem;
  color: #ece0e0;
}

.centralizado {
  display: flex;
  justify-content: center;
  text-align: center;
}

::ng-deep .mat-mdc-list-item-content {
  justify-content: center !important;
}

.btn-acao {
  width: 100%;
  min-width: 200px;
  padding: 5px 16px;
  font-size: 1.1rem;
}

.area-botoes {
  margin-top: 15px;
  border-top: 1px solid #eee;
  padding-top: 10px;
}